[submodule "dependencies/libsndfile"]
	path = dependencies/libsndfile
	url = https://github.com/libsndfile/libsndfile/
[submodule "dependencies/libpd"]
	path = dependencies/libpd
	url = https://github.com/victorzappi/libpd.git
