# Prerequisites
*.d

# Compiled Object files
*.so
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so we need tinyalsa.so
!libonnxruntime.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build output
bin/

# Build objs
obj/

# IDE/Editor project files
# -vscode
.vscode/
LDSP.code-workspace

# CMake
**/CMakeCache.txt
**/CMakeFiles/
**/cmake_install.cmake
.ninja_deps
.ninja_log
build.ninja
rules.ninja
build.ninja.tmp*

# OS specific files
# -macOS
.DS_Store

# current LDSP project configuration
ldsp_settings.conf
ldsp_dependencies.conf

# inner repos
**/LDSP-ONNX

# Temporary local projects
_projects/
