[submodule "dependencies/libsndfile"]
	path = dependencies/libsndfile
	url = https://github.com/libsndfile/libsndfile/
[submodule "dependencies/libpd"]
	path = dependencies/libpd
	url = https://github.com/libpd/libpd.git
[submodule "dependencies/RTNeural"]
	path = dependencies/RTNeural
	url = https://github.com/jatinchowdhury18/RTNeural.git
[submodule "dependencies/Ne10"]
	path = dependencies/Ne10
	url = https://github.com/pkhao75/Ne10
