[submodule "dependencies/libsndfile"]
	path = dependencies/libsndfile
	url = https://github.com/libsndfile/libsndfile/
[submodule "dependencies/ldsp"]
	path = dependencies/ldsp
	url = https://github.com/victorzappi/LDSP.git
